:root {
  --heading-font: "Roboto Condensed", sans-serif;
  --sub-font: "Sofia Sans Extra Condensed", sans-serif;
}

body {
  background-color: rgb(53, 53, 53);
}

.hero {
  background-color: #66768a;
  text-align: center;
  height: 400px;
}

h1 {
  margin: 0 1rem 0.2rem 1rem;
  padding: 5rem 1rem 0.1rem 1rem;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 50px;
  color: whitesmoke;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #66768a;
}

.header-text {
  color: whitesmoke;
  padding: 0.2rem 3rem;
  font-size: 15px;
}

.mid {
  text-align: center;
  background-color: whitesmoke;
  font-family: var(--sub-font);
  padding: 2rem 4rem;
}

.two-column {
  display: flex;
  padding: 3rem;
}

.item-one {
  margin-right: 2rem;
}

.item-two {
  margin-left: 2rem;
}

.img {
  width: 100%;
}

.menu {
  padding-top: 1rem;
}

.link {
  padding: 1.5rem;
}

.donate {
  padding-left: 18rem;
}

.menu a {
  text-decoration: none;
  color: aliceblue;
}

.menu ul {
  padding-left: 1rem;
}

.donate a {
  background-color: aliceblue;
  padding: 0.35rem;
  border-radius: 3px;
  color: #66768a;
}

.menu li {
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
}

@media (max-width: 590px) {
  .donate {
    padding-left: 7rem;
  }
  h1 {
    padding-top: 4rem;
    font-size: 25px;
  }
  .link li {
    padding: 0;
  }
  .menu li {
    padding: 1rem;
  }
}

@media (max-width: 475) {
  .donate {
    padding-left: 0;
  }
  .menu li {
    display: inline;
    justify-content: center;
  }
}
